/* Write your CSS code here */
* {
  box-sizing: border-box;
}
body {
  margin: opx;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #000000;
}
